
<md-sidenav-container class="page-content">
  <md-sidenav #sidenav class="users-online" opened="true" mode="side">
    <md-toolbar color="primary">
      <md-icon class="white-icon message-icon" md-list-icon>message</md-icon>
      <span>Instant Chat</span>
    </md-toolbar>
    <md-list>
      <md-list-item *ngFor="let userOnline of usersOnline">
        <md-icon class="white-icon" md-list-icon>person</md-icon>
        <h3 class="white-text" md-line> {{userOnline}} </h3>
      </md-list-item>
    </md-list>
    <div class="logout-btn">
      <button md-raised-button color="accent" (click)="logout()">Log out</button>
    </div>
  </md-sidenav>


      <div class="mdl-card mdl-shadow--2dp test2">
        <div class="mdl-card__title message-title mdl-card--expand">
        <button class="mdl-button mdl-js-button mdl-button--icon" (click)="sidenav.toggle()">
          <md-icon class="md-24" color="primary" >menu</md-icon>
        </button>
                Instant Messages 
        </div>
        <div class="mdl-card__actions mdl-card--border test">
          <md-list>
            <md-list-item *ngFor="let message of messages">
              <p md-line>sommer: {{message}} </p>
            </md-list-item>
          </md-list>

        </div>
        <div class="mdl-card__actions mdl-card--border">
              <md-input-container class="message-container">
                <input mdInput placeholder="Message: " >
              </md-input-container>
        </div>
      </div>
      <!--
      <md-card class="messages">
        <md-card-header>
          <md-card-title>Messages</md-card-title>
        </md-card-header>
        <md-card-content flex class="message-list">
        <md-list>
          <md-list-item *ngFor="let message of messages">
            <p md-line> {{message}} </p>
          </md-list-item>
        </md-list>

        </md-card-content>
        <md-card-footer class="card-actions">
          <md-grid-list cols="12">
            <md-grid-tile
                [colspan]="11">
              <md-input-container class="message-container">
                <input mdInput placeholder="Message: " >
              </md-input-container>
            </md-grid-tile>
            <md-grid-tile
                [colspan]="1">
              <button md-icon-button  (click)="sidenav.toggle()">
                <md-icon class="md-24" color="primary" >send</md-icon>
              </button>￼
            </md-grid-tile>
          </md-grid-list>
        </md-card-footer>
      </md-card>
      -->


</md-sidenav-container>

<!--
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Title</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <button (click)="logout()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Logout</button>

      </nav>
    </div>
  </header>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Online Users</span>
      <li class="mdl-list__item" *ngFor="let userOnline of usersOnline">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">person</i>
          {{userOnline}}
        </span>
      </li>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <form [formGroup]="complexForm" (ngSubmit)="sendMsg(complexForm.value)">
        <label>message:</label>
        <input class="form-control" type="text" placeholder="msg" [formControl]="complexForm.controls['msg']">
        <button type="submit">Send</button>
      
      </form>
    </div>
  </main>
</div>

-->