<div class="background">
<div class="mdl-grid">
  <div class="login-card mdl-cell--4-offset mdl-cell mdl-cell--4-col">
    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            Login To Instant Chat
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <form [formGroup]="complexForm" (ngSubmit)="login(complexForm.value)">
                <md-input-container class="login-input">
                    <input mdInput #username maxlength="256" placeholder="Username"
                    [formControl]="complexForm.controls['username']">
                </md-input-container>

                <md-input-container class="login-input">
                    <input mdInput #password maxlength="256" placeholder="Password"
                    [formControl]="complexForm.controls['password']">
                </md-input-container>
                <button md-raised-button color="accent" type="submit" [disabled]="!complexForm.valid">Login</button>
                <button md-raised-button color="primary" (click)="openDialog()">Sign Up</button>

            </form>

        </div>
  </div>
</div>
</div>
</div>


